.DS_Store
Thumbs.db

/build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

*.log 

*.o
*.obj
*.so
*.dll
*.exe
*.out
*.a
*.lib

*.pch
*.pdb
*.ilk

.idea/
.vscode/
*.swp
*.tmp
*.user
*.suo

any_public_test

*.local
